.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  &.active {
    border-left: 5px solid #000;
    background: map-get($theme-colors, "panelMenuActiveColor");
  }
  &.isFirst {
    background: map-get($theme-colors, "panelMenuColor");
  }
  a {
    display: block;
    width: 100%;
    text-align: left;
  }
}
