.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: map-get($theme-colors, "panelMenuActiveColor");
  }
  &.active {
    a {
      border-left: 5px solid #000;
    }

    background: map-get($theme-colors, "panelMenuActiveColor");
  }
  &.isFirst {
    background: map-get($theme-colors, "panelMenuColor");
    padding: 10px 15px;
  }
  a {
    border-left: 5px solid transparent;
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: normal;

    svg {
      margin-right: 10px;
      font-size: 22px;
    }
  }
}
