@mixin adminflexColumn($basis: none, $gap: null, $direction: column) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: $direction;

  @if $basis!=none {
    flex-basis: $basis;
  }
  @if $gap!=null {
    gap: $gap;
  }
}
@mixin flexCenter($widthFull: false, $direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  @if $widthFull {
    width: 100%;
  }
}
